.navbar {
  background: linear-gradient(to right, #9cecfb, #65c7f7, #4d4d4d);
  width: auto;
  height: 6rem;
  display: flex;
  align-items: center;
}
.navbar img {
  max-width: 5rem;
  margin-left: 0.5rem;
}
.navbar a {
  text-decoration: none;
  color: white;
  display: inline-block;
  letter-spacing: 0.1rem;
  margin-left: 1.5rem;
  cursor: pointer;
  font-family: 'Share Tech Mono', monospace;
}
.navbar a:hover {
  transform: skewX(30deg);
  color: #000;
}
